/* fonts */
@font-face {
    font-family: "Raleway-regular";
    src: url(../__MACOSX/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-medium";
    src:url(../__MACOSX/fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-bold";
    src:url(../__MACOSX/fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-semibold";
    src:url(../__MACOSX/fonts/Raleway-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "Raleway-black";
    src:url(../__MACOSX/fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway-extrabold";
    src:url(../__MACOSX/fonts/Raleway-ExtraBold.ttf);
}


/*color*/
:root{
    --primary:#FA8223;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --ligt:#F0F0F0;
     --heaven:#FFFFFF;
     --footer:#1b047c;
}

*{

    padding:0;
    margin:0;
    box-sizing:border-box ;
}
    body{
   -webkit-font-smoothing:antialised;
 
   font-family: "Raleway-regular";
    }

.container{
    width:100%;
    padding:o 15px;
    margin:0 auto;

}
@media(min-width:576px){
    .container{
        max-width:540px;
    }
}
@media(min-width:768px ){
    .container{
        max-width:720px;
    }
}
@media(min-width:992px ){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px ){
    .container{
        max-width:1152px;
    }
}
header.topbar{
    background:var(--secondary );
    color:var(--pure);
    font-family: "Raleway-semiBold";
   
    padding:0.75rem 0;
}
header.topbar .icons a{
    margin:0.6rem;
}
header.topbar .auth .divider{
    padding:0 1rem;
}
.branding{
    margin-left: -318px;
}
header.topbar .auth > div img{
margin-right:0.35rem;
}
header.topbar .auth > div a
 {
     color:var(--pure);
    text-decoration: none;
}

 .flex{
     display:flex;
 }
 .justify-between{
     justify-content: space-between;
 }
 .item-center{
     align-items:center; 
 }
 nav .top .contact ,nav .top .time h5{
     font-family: "Raleway-black";
     margin-bottom:0.25rem;
 }
 nav .top .contact h6,nav .top .time h6 {
    font-family: "Raleway-medium";
    letter-spacing:0.055rem;
    color:var(--ternary);
}
nav .top .contact img,nav .top .time img {
    margin-right:1rem;
}nav.top{
    padding :1.5 rem 0;
}
.justify-center{
    justify-content: center;
}
nav .navbar a{
    text-decoration:none;
    color:var(--secondary);
    font-family:"Raleway-semibold";
    font-size:1rem; 
    padding :1rem 1.5rem;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
nav .navbar a.active{
    background:var(--primary);
    color:var(--pure);
}
nav .navbar a:hover{
    background:var(--primary);
    color:var(--pure);
   
}
.magic-shadow{
    position:relative;
    background:var(--heaven);
}
.magic-shadow:after{
    content:'';
    display:block;
    width:100%;
    height: 69px ;
    background-image:url(../__MACOSX/icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;  
    position: absolute;
    bottom:-22px;
     z-index:-1;
    
}
header.hero{
    
    background-image:url(../pic/396602.jpg);
  height:450px;
  background-size: cover;
  background-position: 0% 0%;
  background-blend-mode:saturation;
 overflow: hidden;
 
}
header.hero  span{
    font-family: "Raleway-bold";
    color:var(--primary);
    margin-right:0.75;
}
header.hero h1{
    font-family: "Raleway-extrabold";
    color:var(--pure);
    font-size:2.5rem;
    margin-bottom: 0.75rem;
}
header.hero p{
    font-family: "Raleway-extrabold";
    color:var(--pure);
    line-height:1.5;
    margin-bottom:1rem;
}
.btn{
    padding:0.50rem 0.75rem;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border:none;
    line-height:0.8;
    font-size:1.2rem;
    cursor:pointer;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    border:1px solid transparent;
}
.btn-primary{
    background:var(--primary);
    color:var(--heaven);
}
.btn-primary:hover{
    background:var(--heaven);
    color:var(--primary);
    border:1px solid var(--primary);
}
.btn-secondary{
    background:var(--ternary);
    color:var(--heaven);
}
.btn-secondary:hover{
    background:var(--heaven);
    color:var(--ternary);
    border:1px solid var(--ternary);
}
header.hero button:first-child{
    margin-right:0.50rem;
}
header.hero .welcome{
    margin-bottom:0.25rem;
}
header.hero .hero-image{
    position:absolute;
    top: 223px;
    right: 238px;
    
}
header .hero .container{
    position:relative;
      
}
section{
    padding:4rem;

}
section.ABOHOMAN{
    background:var(--ligt);
}
.section-heading{
font-family: "Raleway-bold";
text-align: center;
position: relative;
margin-bottom: 4rem;
;
}
.section-heading:after{
    content:'';
    display:block;
    width:100%;
    height:30px;
    background-image:url(../__MACOSX/icons/hr.svg);
    background-repeat:no-repeat;
    background-position:center;
    position: absolute;
    bottom:-40px;
}
section.ABOHOMAN .part-slider .art-card{
    background:var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}
section.ABOHOMAN .part-slider .art-card .product-image img{
    width:80%;
    height:200px;
    object-fit:contain;
    padding-bottom:1rem ;
}
hr{
    border:1px solid var(--ligt);
    padding:0.8;
    margin:1rem 0;
}
section.ABOHOMAN .part-slider .art-card h2{
    font-family:"Raleway-bold";
    font-size:1.3rem;
    margin-bottom:0.25rem; 
}
.text-center{
    text-align: center;
}
section.ABOHOMAN .part-slider .art-card .user{
    font-family:"Raleway-medium";
    margin-right: 0.25rem;
    color:var(--secondary);
    margin-bottom: 1rem;

}
section.ABOHOMAN .part-slider .art-card button{
    font-family: "Raleway-medium";
    color:var(--secondary);
    border:2px solid var(--primary);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    display:flex;
    align-items: center;
    font-size:1rem;
    cursor:pointer;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    padding:0.20rem 0.55rem;
     
}
section.ABOHOMAN .part-slider .art-card button:hover{
    background:var(--primary);
    color:var(--heaven)
}


section.ABOHOMAN .art-slider .art-card{
    background:var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}
section.ABOHOMAN .art-slider .art-card .product-image img{
    width:80%;
    height:200px;
    object-fit:contain;
    padding-bottom:1rem ;
}
hr{
    border:1px solid var(--ligt);
    padding:0.8;
    margin:1rem 0;
}
section.ABOHOMAN .art-slider .art-card h2{
    font-family:"Raleway-bold";
    font-size:1.3rem;
    margin-bottom:0.25rem; 
}
.text-center{
    text-align: center;
}
section.ABOHOMAN .art-slider .art-card .user{
    font-family:"Raleway-medium";
    margin-right: 0.25rem;
    color:var(--secondary);
    margin-bottom: 1rem;

}
section.ABOHOMAN .art-slider .art-card button{
    font-family: "Raleway-medium";
    color:var(--secondary);
    border:2px solid var(--primary);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    display:flex;
    align-items: center;
    font-size:1rem;
    cursor:pointer;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    padding:0.20rem 0.55rem;
     
}





section.ABOHOMAN .art-slider .art-card button:hover{
    background:var(--primary);
    color:var(--heaven)
}

.slick-slide{
    margin:0 27px;

}
.slick-list{
    margin:0 -27px;
}
.ABOHOMAN .slider-btn{
    width:30px;
    height:30px;
    border:none;
    background:var(--primary);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
   cursor:pointer;
   outline:none;

}
.prev-btn{
    position:absolute;
    top:46%;
    left:-3rem;
    z-index:1;
}
.next-btn{
    position:absolute; 
    top:46%;
    right:-3rem;
    z-index:1;
}
.ABOHOMAN .slider{
    position:relative;
}
.ABOHOMAN .btn-wrapper{
    margin-top: 2rem;
}
.magic-shadow-sm{
    position:relative;
    background:var(--heaven);
}
.magic-shadow-sm:after{
    content:'';
    display:block;
    width:100%;
    height: 69px ;
    background-image:url(../__MACOSX/icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;  
    position: absolute;
    bottom:-20px;
     z-index:-1;
    
}
.slick-track{
    padding:1rem 0;
}
section.Editorial img{
    width: 700px;
  
}
section.Editorial h2{
    font-family: "Raleway-bold";
    font-size:1.4rem;
    color:var(--secondary);
    margin-bottom: 2rem;
    
    line-height:1.3;
}
section.Editorial p{
    line-height:1.7;
    bottom:7rem;
    padding:7px;
  
}
 .flex-1{
    margin-left: 69px;
}
section.Gallery{
    background:linear-gradient( rgba(35,43,56, 0.9),rgba(35,43,56, 0.9)),url(../pic/art.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}
.text-pure{
    color:var(--pure);
}
section.Subscribe{
    background:var(--primary);
    padding-left: 66px;

}
section.Subscribe h1{
    font-family:"Raleway-bold";
    color:var(--ternary);
    font-size:1.5rem;
    margin-bottom:1.5rem;
}
section.Subscribe p{
    font-family:"Raleway-medium";
    font-size:1rem;
    margin-bottom:1.5rem;
    line-height:1.5;
}
section.Subscribe .input-warp{
    background:var(--heaven);
    display:flex;
    padding:0.3rem;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;

}
section.Subscribe .input-warp  input{
    width:100%;
    border:none;
    padding:0 0.5rem;
    font-size: 1rem;
}
     
          section.Subscribe .input-warp button{
    padding:0.8rem 2rem;
    border:none;
    background:var(--primary);
    color:var(--pure);
    font-size: 1rem;
    cursor:pointer;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;



}

   section.Subscribe .input-warp button:hover

{
    background:var(--secondary);

}
   
    section.Subscribe .input-warp button:focus

{
     outline:none;
     
}







